.myPagination{
    text-align: center;
    margin-top: 5px;
}
.myContentCard{
    width: 100%;
    margin-bottom: 5px;
}
.myContent{
    padding-right: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
    width: 70%;
}


@media (max-width: 850px) {
    .myContent{
        width: 100%;
    }
    
}